# --------------------------------------------------------------------------------
# files
# --------------------------------------------------------------------------------
*.txt
*.bin
*.bat
*.lock
*.class
*.jar
*.tar
*.zip
*.bin.idx
*.xml
*._tmp
*.*md
*._*
cache.properties
gc.properties
gradle-wrapper.properties
gradlew
# --------------------------------------------------------------------------------
# directories
# --------------------------------------------------------------------------------
build